@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "bootstrap.min.css";

:root {
    --dark: #272d2d;
    --gray: #50514F;
    --pink: #9C27B0;
    --green: #23CE6B;
    --white: #F6F8FF;
    --blue: #277BC0;
    --border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 50px;
    padding: .5em;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 5px !important;
    margin-bottom: 2rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.scrollable {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
