@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --dark: #272d2d;
    --gray: #50514F;
    --pink: #9C27B0;
    --green: #23CE6B;
    --white: #F6F8FF;
    --border-radius: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html { overflow-y: scroll; overflow-x:hidden; }


body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .5em;
    margin-bottom: 50px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    padding: $gutter;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}